<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Logs\log.txt" />
      <param name="datePattern" value="yyyyMMdd HH:mm" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <bufferSize value="0" />
      <param name="File" value="Logs\RollingLog.txt" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5000K" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender_DateFormat" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\logfile_.txt" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<datePattern value="yyyyMMdd-HHmm"/>-->
      <datePattern value="yyyyMMdd-HHmm" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread](%file:%line) %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorLogsAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Errors_.txt" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <rollingStyle value="Date" />
      <!--<datePattern value="yyyyMMdd-HHmm"/>-->
      <datePattern value="yyyyMMdd-HHmm" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xD;&#xA;【日志开始】&#xD;&#xA;" />
        <footer value="&#xD;&#xA;【日志结束】&#xD;&#xA;" />
        <conversionPattern value="%n【------------记录错误----------】%n%date [%thread](%file:%line) %-5level %logger [%property{NDC}] - %message%newline【------------错误结束----------】%newline%newline" />
      </layout>
    </appender>

    <appender name="TimerLogsAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Timer_.txt" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <rollingStyle value="Date" />
      <!--<datePattern value="yyyyMMdd-HHmm"/>-->
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xD;&#xA;【计时日志开始】&#xD;&#xA;" />
        <footer value="&#xD;&#xA;【计时日志结束】&#xD;&#xA;" />
        <conversionPattern value="%n【------------记录计时日志----------】%n%date  - %message %newline [%thread](%file:%line) %-5level %logger [%property{NDC}]%newline【------------计时日志结束----------】%newline%newline" />
      </layout>
    </appender>


    <appender name="DebugLogsAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Debugs_.txt" />
      <param name="PreserveLogFileNameExtension" value="true" />
      <rollingStyle value="Date" />
      <!--<datePattern value="yyyyMMdd-HHmm"/>-->
      <datePattern value="yyyyMMdd-HHmm" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xD;&#xA;【日志开始】&#xD;&#xA;" />
        <footer value="&#xD;&#xA;【日志结束】&#xD;&#xA;" />
        <conversionPattern value="%n【------------记录错误----------】%n%date [%thread](%file:%line) %-5level %logger [%property{NDC}] - %message%newline【------------错误结束----------】%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender_DateFormat" />
    </root>
    <logger name="ExceptionLog">
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender" />
    </logger>
    <logger name="MvcLoger.Error">
      <level value="WARN"/>
      <appender-ref ref="ErrorLogsAppender" />
    </logger>
    <logger name="MvcLoger.Debug">
      <level value="DEBUG"/>
      <appender-ref ref="ErrorLogsAppender" />
    </logger>


    <logger name="UnitTest.Timer">
      <level value="All"/>
      <appender-ref ref="TimerLogsAppender" />
    </logger>
  </log4net>


</configuration>